@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.tabel-page {
  padding: 36px 16px;
}
.tx-center  {
  text-align: center;
}
.el-dialog__header .el-dialog__title, .el-message-box__header .el-message-box__title{
  font-size: 18px;
  font-weight: 700;
  color: #3B86FF;
  line-height: normal;
}
.btn-icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 10px;
}
.btn-icon-edit{
 background-image: url("../assets/images/edit.svg");
}
.btn-icon-delete{
  background-image: url("../assets/images/delete.svg");
}


.car-box{
  width: 790px;
  height: 1120px;
  background: #F6F6F4;
  padding: 62px 72px 28px 72px;
  border-radius: 0px 0px 0px 0px;
  margin: 0 auto;
  position: relative;
  page-break-inside: avoid;
}
.car-header1{
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  .left{
    .title{
      font-size: 38px;
      font-weight: 400;
      color: #1C2431;
    }
    .title-en {
      font-size: 16px;
      font-weight: 400;
      color: #6F7F9F;
    }
  }
  .right{
    text-align: right;
    .NO{
      font-size: 14px;
      font-weight: bold;
      color: #1C2431;
    }
    .date{
      color: rgba(111, 127, 159, 1);
      font-size: 14px;
    }
  }
  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 14px;
    background: url("../assets/images/car-pdf/header1-bg.png") no-repeat;
    background-size: cover;
  }

}
.footer-box{
  position: absolute;
  bottom: 28px;
  width: 620px;
  img{
    width: 100%;
  }
  .footer-text{
    width: 100%;
    text-align: center;
  }
}
